footer {
         text-align: center;
         margin-top: 10px;
         width: 710px;
         margin-left: auto;
         margin-right: auto;
}

footer nav {
         float: none;
         
}

footer ul {

       background-color: #cdc9c9;
       list-style-type:none;
       text-color: green;
       text-decoration: none;
       padding: 10px;
} 

footer ul li { 
        display: inline;
        
}

footer a:link {
     text-decoration: none;
     padding: 20px;
}

/*User show page */

table.profile {
        width: 100%;
        margin-bottom: 0;
}

td.main {
        width: 70%;
        padding: 1em;
}

td.sidebar {
        width: 30%;
        padding: 1em;
        vertical-align: top;
        background: #ffc;
}

.profile img.gravatar {
        border: 1px solid #999;
        margin-bottom: -15px;
}

div.field, div.actions {
        margin-bottom: 10px;
}
